.test {
  background-color: blue;
}

.r1 {
  display: flex;
  background-color: pink;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #595959;
  margin-bottom: 6px !important;
  align-items: center !important;
}

.r2 {
  background-color: pink;
  padding-left: 48px;
}

a:link {
  color: #595959;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

