.smallText {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 6px !important;
  color: #595959;
}

.flex {
  display: flex !important;
}

.r0 {
  padding: 9px !important;
  margin-bottom: 24px !important;
}

.r1 {
  display: flex;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #595959;
  margin-bottom: 6px !important;
  align-items: center !important;
}

.r2 {
  padding-left: 48px;
  margin-bottom: 6px;
}

.r3 {
  display: block;
  position: relative;
  margin-bottom: 12px !important;
  padding-right: 30px;
}

.r4 {
  margin-bottom: 12px !important;
  flex: 3 1 0% !important;
  margin-right: 48px;
}

.rating {
  margin-bottom: 6px !important;
}

.product {
  display: flex !important;
  align-items: center !important;
}

.thumbnail {
  height: 36px;
  width: 36px;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 12px;
}

.reviewimage {
  border-radius: 6px !important;
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  flex: 1 1 0% !important;
  align-items: flex-start;
}

.reviewText {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

a:link {
  color: #595959;
}

a:hover {
  color: #a8a8a8;
}

a {
  transition: color 200ms ease-out;
  margin-right: 6px;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

